.navbar {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(128, 128, 128, 0.509);
  border-radius: 2px;
  color: grey;
  font: 300 1.2vmax italic;
}
.title {
  flex: 1 1 0;
}

.navContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1 0;
}
.navContent > p {
  padding: 0 0.5vmax;
}
.navContent > button {
  background: transparent;
  color: rgb(55, 55, 219);
  border-radius: 5px;
  padding: 0 2vmax;
  height: 37px;
  font: 300 1.5vmax roman;
  border: 1px solid blue;
}
.container1 {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;
  background: linear-gradient(to right, #10c8f4, #6a4ab5);
}

.container1 > button {
  padding: 1vmax 2vmax;
  border: 1px solid aquamarine;
  border-radius: 5px;
  background: white;
}

.container2 {
  background-color: #f1f1f1de;
}
.container2 > h1{
  margin: 0 auto;
}
.cards {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2vmax auto;
  padding: 1vmax;
}
.footer {
  padding: 2vmax 1vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top{
  color: rgba(0, 0, 0, 0.735);
  padding: 1vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}